{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="input-group input-group-lg mt-5 mb-5">
    <select class="form-select input-group col-md-4" aria-label="Default select example" style="width: 10px;" id="location" >
        <option value="none" selected>Select Location</option>
        {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
        
    </select>
    <select class="form-select input-group col-md-4" aria-label="Default select example" style="width: 10px;" id="resource" >
        <option value="restaurant" selected>Restaurant</option>
        <option value="food">Food</option>
    </select>
    <input type="text" class="form-control" placeholder="Search here" aria-label="Search here" aria-describedby="button-addon2">
    <button class="btn btn-danger col-md-2" type="button" id="search">Search</button>

</div>
</div>
<div class="container">
<section class="mb-5">
    <div class="title">
      <h2 id="result-title">All Restaurants</h2>
    </div>
  <div class="row" id="result-body">
      {% for rest in restaurants %}
      <article class="col-3 mb-3">
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/background/bg-1.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ rest.name }}</h5>
              <p class="card-text fst-italic description" style="font-size: 13px;">{{ rest.description }}</p> 
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price Range: <span class="float-end">&#8358;{{ rest.price_range().min }} - &#8358;{{ rest.price_range().max }}</span></li>
            <li class="list-group-item">Rating: <span class="float-end">{% if rest.reviews %}{{ rest.get_rating().total }} {% else %} not rated{% endif %}</span></li>
            <li class="list-group-item">No. of Reviews <span class="float-end">{{ rest.get_rating().len }}</span></li>
          </ul>
          <div class="card-body">
            <a href="/restaurants/{{ rest.id }}" class="card-link"><button class="btn btn-sm btn-outline-primary">See more</button></a>
            <a href="/restaurants/review/{{ rest.id }}" class="card-link"><button class="btn btn-sm btn-outline-primary float-end">Review</button></a>
          </div> 
      </article>
    {% endfor %}
  </div>
  </section>
</div>
<script src="{{ url_for('static', filename='scripts/search.js')}}" ></script>
{% endblock body %}
